<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
    <!-- Header -->
    <div class="relative pb-32 bg-gray-800">
      <div class="absolute inset-0">
        <img class="w-full h-full object-cover" src="/assets/spf-bg-1.jpg" alt="">
        <div class="absolute inset-0 bg-gray-800 mix-blend-multiply" aria-hidden="true"></div>
      </div>
      <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-extrabold tracking-tight text-white md:text-5xl lg:text-6xl">October Spooktacular</h1>
        <p class="mt-6 max-w-3xl text-xl text-gray-300">Join us this October in Celebrating Halloween!  Participate in events like our Yard Decorating Contest, Costume Contest, and More! <a href="#" class="text-tealbeach">Read More...</a></p>
        <button type="button" class="my-8 inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-mainblue hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Click To View Upcoming Announcements &amp; Events</button>

      </div>
    </div>
  
    <!-- Overlapping cards -->
    <section class="-mt-32 max-w-7xl mx-auto relative z-10 pb-2 px-4 sm:px-6 lg:px-8" aria-labelledby="contact-heading">
      <h2 class="sr-only" id="contact-heading">Contact us</h2>
      <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-4 lg:gap-y-0 lg:gap-x-8">
        
        
        <div class="flex flex-col bg-white rounded-2xl shadow-xl">
          <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
            <div class="absolute top-0 p-5 inline-block bg-mainblue rounded-xl shadow-lg transform -translate-y-1/2">
              <!-- Heroicon name: outline/phone -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
             
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                  </svg>
            </div>
            <h3 class="text-xl font-bold text-gray-900 uppercase leading-5">LWB <br>Payments</h3>
            <p class="mt-4 text-base text-gray-500">Pay Utilities, Find Locations, and Get Details on how to make any and all payments</p>
          </div>
          <div class="p-6 bg-gray-50 rounded-bl-2xl rounded-br-2xl md:px-8">
            <a href="#" class="text-base font-medium text-indigo-700 hover:text-indigo-600">Find Out More<span aria-hidden="true"> &rarr;</span></a>
          </div>
        </div>

        <div class="flex flex-col bg-white rounded-2xl shadow-xl">
            <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
              <div class="absolute top-0 p-5 inline-block bg-mainblue rounded-xl shadow-lg transform -translate-y-1/2">
                <!-- Heroicon name: outline/phone -->
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
    
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                      </svg>
              </div>
              <h3 class="text-xl font-bold text-gray-900 uppercase leading-5">Human <br>Resources</h3>
              <p class="mt-4 text-base text-gray-500">Find out career information, benefits details, contact information and more by visiting our HR Page.</p>
            </div>
            <div class="p-6 bg-gray-50 rounded-bl-2xl rounded-br-2xl md:px-8">
              <a href="#" class="text-base font-medium text-indigo-700 hover:text-indigo-600">Apply Today<span aria-hidden="true"> &rarr;</span></a>
            </div>
          </div>
  
        <div class="flex flex-col bg-white rounded-2xl shadow-xl">
          <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
            <div class="absolute top-0 p-5 inline-block bg-mainblue rounded-xl shadow-lg transform -translate-y-1/2">
              <!-- Heroicon name: outline/support -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4" />
                  </svg>
            </div>
            <h3 class="text-xl font-bold text-gray-900 uppercase leading-5">Building <br>Permits</h3>
            <p class="mt-4 text-base text-gray-500">Apply for building permits, business licenses, find planning and zoning info, historic info & More.</p>
          </div>
          <div class="p-6 bg-gray-50 rounded-bl-2xl rounded-br-2xl md:px-8">
            <a href="#" class="text-base font-medium text-indigo-700 hover:text-indigo-600">Get Started<span aria-hidden="true"> &rarr;</span></a>
          </div>
        </div>
  
        <div class="flex flex-col bg-white rounded-2xl shadow-xl">
          <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
            <div class="absolute top-0 p-5 inline-block bg-mainblue rounded-xl shadow-lg transform -translate-y-1/2">
              <!-- Heroicon name: outline/newspaper -->
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
           
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
            </div>
            <h3 class="text-xl font-bold text-gray-900 uppercase leading-5">Garbage <br>Collection</h3>
            <p class="mt-4 text-base text-gray-500">Find pickup schedules, online resources, request bins, learn our process and more.</p>
          </div>
          <div class="p-6 bg-gray-50 rounded-bl-2xl rounded-br-2xl md:px-8">
            <a href="#" class="text-base font-medium text-indigo-700 hover:text-indigo-600">Schedule &amp; More<span aria-hidden="true"> &rarr;</span></a>
          </div>
        </div>
      </div>
    </section>
  </div>
  