<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
<div class="bg-gray-50">
    <div class="max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:py-24 lg:px-8">
        <div class="grid grid-cols-4 gap-4" x-data="{
            calendar: null,
            events: [
                {
                    id: 1,
                    title: 'City Commission Meeting',
                    start: '2022-06-06',
                },
                {
                    id: 2,
                    title: 'HRPB Meeting',
                    start: '2022-06-23',
                },
            ],
            newEventTitle: null,
            newEventStart: null,
            newEventEnd: null,
            init() {
                this.calendar = new FullCalendar.Calendar(this.$refs.calendar, {
                    events: (info, success) => success(this.events),
                    initialDate: '2022-06-01',
                    initialView: 'dayGridMonth',
                    selectable: true,
                    unselectAuto: false,
                    editable: true,
                    select: (info) => {
                        this.newEventStart = info.startStr
                        this.newEventEnd = info.endStr
                    },
                    eventClick: (info) => {
                        if (confirm('Are you sure you want to remove this event?')) {
                            const index = this.getEventIndex(info)
    
                            this.events.splice(index, 1)
    
                            this.calendar.refetchEvents()
                        }
                    },
                    eventChange: (info) => {
                        const index = this.getEventIndex(info)
    
                        this.events[index].start = info.event.startStr
                        this.events[index].end = info.event.endStr
                    },
                })
    
                this.calendar.render()
            },
            getEventIndex(info) {
                return this.events.findIndex((event) => event.id == info.event.id)
            },
            addEvent() {
                if (! this.newEventTitle || ! this.newEventStart) {
                    return alert('Please choose a title and start date for the event!')
                }
    
                let event = {
                    id: Date.now(),
                    title: this.newEventTitle,
                    start: this.newEventStart,
                    end: this.newEventEnd,
                }
    
                this.events.push(event)
                this.calendar.refetchEvents()
    
                this.newEventTitle = null
                this.newEventStart = null
                this.newEventEnd = null
    
                this.calendar.unselect()
            },
        }">
            <div class="col-span-2">

                <div>
                    <div x-ref="calendar"></div>




                </div>
            </div>
            <div class="pt-14 pl-14 col-span-2">
                <ul class="mt-1 list-inside text-sm text-gray-500">
                    <template x-for="event in events" :key="event.id">
                        <li class="pb-3">
                            <span x-text="`${event.start} ${(event.end ? ' through ' + event.end : '')}`"></span>
                            <h2 class="text-xl uppercase font-bold text-black" x-text="`${event.title}`"></h2>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div>
</div>
