<div class="bg-white">
    <div class="max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:py-2 lg:px-8">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            <div class="bg-purplebeach rounded-3xl">
                <a href="http://podcast.lakeworthbeachfl.gov/"><img class="rounded-3xl" src="/assets/pcast.png" alt="Lake Worth Beach Podcast"></a>
            </div>

            <div class="bg-mainblue rounded-3xl">
                <img class="rounded-3xl" src="/assets/lwbassets/watch1.png" alt="Lake Worth Beach Watch Meetings and Live Events">
            </div>

            <div class="bg-main rounded-3xl">
                <img class="rounded-3xl" src="/assets/lwbassets/dl2.png" alt="Lake Worth Beach Directory Employees and Departments">
            </div>
            <div class="bg-purplebeach rounded-3xl">
                <a href="http://podcast.lakeworthbeachfl.gov/"><img class="rounded-3xl" src="/assets/pcast.png" alt="Lake Worth Beach Podcast"></a>
            </div>

            <div class="bg-mainblue rounded-3xl">
                <img class="rounded-3xl" src="/assets/lwbassets/watch1.png" alt="Lake Worth Beach Watch Meetings and Live Events">
            </div>

            <div class="bg-main rounded-3xl">
                <img class="rounded-3xl" src="/assets/lwbassets/dl2.png" alt="Lake Worth Beach Directory Employees and Departments">
            </div>
            <div class="bg-purplebeach rounded-3xl">
                <a href="http://podcast.lakeworthbeachfl.gov/"><img class="rounded-3xl" src="/assets/pcast.png" alt="Lake Worth Beach Podcast"></a>
            </div>

            <div class="bg-mainblue rounded-3xl">
                <img class="rounded-3xl" src="/assets/lwbassets/watch1.png" alt="Lake Worth Beach Watch Meetings and Live Events">
            </div>

            <div class="bg-main rounded-3xl">
                <img class="rounded-3xl" src="/assets/lwbassets/dl2.png" alt="Lake Worth Beach Directory Employees and Departments">
            </div>
            <div class="bg-main rounded-3xl sm:block md:hidden">
                <img class="rounded-3xl" src="/assets/lwbassets/dl2.png" alt="Lake Worth Beach Directory Employees and Departments">
            </div>
          </div>
    </div>
    <div class="mb-12"></div>
  </div>
  