<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white" id="sponsorship">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <div class="lg:grid lg:grid-cols-1 lg:gap-8 lg:items-start justify-center">
            <div>
                <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
                    Sponsorship Opportunities
                </h2>
                <p class="mt-3 max-w-3xl text-lg text-gray-500">
                    Be a Sponsor for Lake Worth Beach's Signature Event. The Lake Worth Beach Street Painting Festival
                    is a marketing opportunity that offers a great platform to get your message out there!
                </p>
                <div class="mt-8 sm:flex">
                    <div class="rounded-md shadow">
                        <!-- old sponsor kit: /assets/LWB-Street-Painting-Festival-2022-Sponsor-Kit.pdf -->
                        <a href="/assets/LWB-Street-Painting-Festival-2022-Sponsor-Kit.pdf"
                            class="flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-purplebeach hover:bg-indigo-700">

                            <svg xmlns="http://www.w3.org/2000/svg" class="-ml-0.5 mr-2 h-4 w-4" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
                            </svg>
                            Download 2022 Street Painting Sponsor Kit
                        </a>
                    </div>
                </div>
                <p class="text-gray text-md mt-4 text-red-700">Sponsorship Applications are Due no later than
                    <strong>February 1st, 2022</strong></p>
            </div>
            
        </div>
    </div>
</div>