
<div class="bg-white" id="sponsorship">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <div class="lg:grid lg:grid-cols-1 lg:gap-8 lg:items-start">
            <div class="mt-8 grid grid-cols-6 gap-0.5 md:grid-cols-3 lg:mt-0 lg:grid-cols-6">


                <!-- ultra Start -->
                <div class="col-span-3 flex justify-center py-8 px-8 bg-gray-50">
                    <a><img class="h-56 transition-all" src="/assets/s1.png"
                        alt="wild955"></a>
                </div>
                <div class="col-span-3 flex justify-center py-8 px-8 bg-gray-50">
                    <a><img class="h-56 transition-all" src="/assets/s2.png"
                        alt="921real"></a>
                </div>
                <!-- ultra End -->
                <!-- ultra Start -->
                <div class="col-span-3 flex justify-center py-8 px-8 bg-gray-50">
                    <a><img class="h-56 transition-all" src="/assets/s3.png"
                        alt="MIA943"></a>
                </div>
                <div class="col-span-3 flex justify-center py-8 px-8 bg-gray-50">
                    <a><img class="h-56 transition-all" src="/assets/s4.png"
                        alt="Gater 987"></a>
                </div>
                <!-- ultra End -->

                <!-- master Start -->
                <div class="col-span-6 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://www.wptv.com/"><img class="h-56 transition-all" src="/assets/wptv.png"
                        alt="WPTV"></a>
                </div>
                <!-- master End -->

                <!-- Primary Start -->
                <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50"></div>
                <div class="col-span-4 md:col-span-4 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://lakeworthbeachfl.gov/utilities/electric/"><img
                            class="w-48 transition-all" src="/assets/eulogo.png"
                            alt="Lake Worth Beach Electric Utilities"></a>
                </div>
                <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50"></div>
                <!-- Primary End -->

                <!-- Secondary Start -->
              
                <div class="col-span-3 md:col-span-2 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://www.southflpodiatry.com/"><img class="w-40 transition-all"
                            src="/assets/sfp2.png" alt="South Florida Podiatry"></a>
                </div>
                <div class="col-span-3 md:col-span-2 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://flaglerbankusa.com/"><img class="mt-10 md:mt-8 w-40 transition-all"
                        src="/assets/fbl-1642874426.png" alt="Flagler Bank"></a>
                </div>
                <div class="col-span-3 md:col-span-2 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://www.rosenthallevy.com/"><img class="mt-10 md:mt-8 w-40 transition-all"
                        src="/assets/feb/rosenthal.jpg" alt="Rosenthal, Levy, Simon and Sosa"></a>
                </div>
                <!-- secondary end-->


                <div class="col-span-2 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://www.facebook.com/LWBchTShirtCo/"><img class="h-20 transition-all"
                            src="/assets/lwb-tshirt.png" alt="Lake Worth Beach T-Shirt Company"></a>
                </div>
                <div class="col-span-2 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://www.palmbeachpost.com/">
                        <img class="h-24 pb-2 transition-all" src="/assets/pbp.png" alt="Palm Beach Post">
                    </a>
                </div>
                <div class="col-span-2 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://www.lakeworthcra.org/">
                        <img class="h-24 pb-2 transition-all" src="/assets/cra1.png"
                            alt="Lake Worth Beach CRA">
                    </a>
                </div>

                <div class="col-span-2 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://www.thepalmbeaches.com/"><img class="h-20 transition-all"
                            src="/assets/tpb.png" alt="The Palm Beaches"></a>
                </div>
                <div class="col-span-2 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="">
                        <!--<img class="h-24 pb-2 transition-all" src="" alt=">--->
                    </a>
                </div>
                <div class="col-span-2 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="">
                        <!--<img class="h-24 pb-2 transition-all" src=""
                            alt="">-->
                    </a>
                </div>

                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://www.facebook.com/mangogroves/">
                        <img class="h-14 pb-2 transition-all" src="/assets/mgna.png" alt="Mango Groves Neighborhood Association">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://business.facebook.com/pg/ZooGymDowntownLakeWorth/posts/"><img
                            class="h-12 block transition-all" src="/assets/zoologo.jpg"
                            alt="The Zoo Health Club">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://rudyspubinlakeworth.com/">
                        <img class="h-12 block transition-all" src="/assets/rudys.png" alt="Rudys Pub">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://ldubsubs.com/">
                        <img class="h-12 block transition-all" src="/assets/ldub.png" alt="LDubSubs">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="">
                        <img class="h-12 block transition-all" src="/assets/arts4all.png" alt="Arts 4 All">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://www.joinremax.com/remaxprestige">
                        <img class="h-12 block transition-all" src="/assets/remax.png" alt="REMAX Prestige">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="">
                        <img class="h-12 block transition-all" src="/assets/ohair.png" alt="Ocean Hair">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">           
                       <p class="text-xs text-center font-bold text-purplebeach">Drew and Lissie<br>Bartlett</p>
                </div>
                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://mindfuldivorcepa.com/">
                        <img class="h-12 block transition-all" src="/assets/mdpa.png" alt="Mindfull Divorce">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://www.1800flalawyer.com/">
                        <img class="h-12 block transition-all" src="/assets/fllw.png" alt="1800 FL Lawyer">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://www.paradiseexteriors.com/">
                        <img class="h-12 block transition-all" src="/assets/pl1.png" alt="Paradise Exteriors">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://daveslastresort.com/">
                        <img class="h-12 block transition-all" src="/assets/dlrw.png" alt="Daves Last Resort">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="">
                        <img class="h-12 block transition-all" src="/assets/atl.jpeg" alt="The Allen Team">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="https://www.sherwin-williams.com/">
                        <img class="h-12 block transition-all" src="/assets/swlogo.png" alt="Sherwin Williams">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                    <a href="http://www.fisherpotterhodas.com/">
                        <img class="h-12 block transition-all" src="/assets/feb/fisher.png" alt="Fisher">
                    </a>
                </div>
                
                <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">           
                    <p class="text-xs text-center font-bold text-purplebeach">Town and Country Garden Club of Lake Worth Beach</p>
             </div>
             <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                <a href="">
                    <img class="h-12 block transition-all" src="/assets/feb/hee.gif" alt="Heaven and Earth">
                </a>
            </div>
            <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                <a href="">
                    <img class="h-12 block transition-all" src="/assets/feb/COMPASS.png" alt="Compass">
                </a>
            </div>
            <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                <a href="">
                    <img class="h-12 block transition-all" src="/assets/feb/ithink.gif" alt="iThink Financial">
                </a>
            </div>
            <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                <a href="">
                    <img class="h-12 block transition-all" src="/assets/feb/lfb.png" alt="LFB Plasma">
                </a>
            </div>
            <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                <a href="">
                    <img class="h-12 block transition-all" src="/assets/feb/lilos.png" alt="Lilos">
                </a>
            </div>
            <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                <a href="">
                    <img class="h-12 block transition-all" src="/assets/feb/LWPH_LogoUpdate.png" alt="Lake Worth Play House">
                </a>
            </div>
            <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                <a href="">
                    <img class="h-12 block transition-all" src="/assets/swwd.png" alt="Windows">
                </a>
            </div>
            <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">           
                <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQHvN9qpg8-bZAAAAX76nxZIcE0IKHU4nZuiwtTgWkdZvu62R5fr9yu_5bnUGFGr5fDxu5RAHpeykbrIbyLPykV_XBLsJrc4773sxwRaDjBHJbSUFML4tCJpzYoVOaNHaBcLugA=&originalReferer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Flaw-offices-of-betty-c.-resch-esq.%3Ftrk%3Dpublic_profile_experience-item_profile-section-card_subtitle-click"><p class="text-xs text-center font-bold text-purplebeach">Law Offices of Betty C. Resch, Esq.</p></a>
         </div>
            <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                <a href="https://www.mindbodysocialevents.com/">
                    <img class="h-12 block transition-all" src="/assets/feb/mbs.png" alt="Mind Body Soul">
                </a>
            </div>
            <div class="col-span-2 md:col-span-1 flex justify-center py-8 px-8 bg-gray-50">
                <a href="https://www.mindbodysocialevents.com/">
                    <img class="h-12 block transition-all" src="/assets/fairy.png" alt="F">
                </a>
            </div>
            </div>
        </div>
    </div>
</div>